pandas
numpy
scikit-learn==1.5.2
pytz
pymongo
python-dotenv
scipy
joblib
setuptools>=59.6.0
fake-useragent
beautifulsoup4
playwright
playwright-stealth
scikit-learn
nltk
feedparser
nest-asyncio
requests
