.navbar {
    /* background-color: #0f0d15; */
    padding: 1rem 2rem;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #00ffff !important;
    text-decoration: none;
}
.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
   
    font-size: 1rem;
}

.nav-link:hover {
    color: #00ffff !important;
    text-decoration: none;
}

.nav-link.active {
    color: #fff !important;
    border-bottom: 3px solid #fff;
}
.locked{
    color: #9CAFAA !important;
        opacity: 0.5;
        /* Optional: to visually indicate that the link is disabled */
        cursor: not-allowed;
}
.nav-link:focus{
    color: #fff !important;
}